[Unit]
Description=STT Assistant Daemon
After=network.target sound.target

[Service]
ExecStart=/usr/bin/stt-daemon
Restart=on-failure
Type=simple
Environment=RUST_LOG=info

[Install]
WantedBy=default.target
