[Unit]
Description=STT Assistant (Interface)
After=graphical-session.target stt-daemon.service
Requires=stt-daemon.service
BindsTo=stt-daemon.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/stt-client
Restart=on-failure
Type=simple
Environment=RUST_LOG=info

[Install]
WantedBy=graphical-session.target
